<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Товар</title>
</head>
<body class="text-bg-dark min-h-screen" style="font-family: 'Century Gothic'; background: #232323">

<div th:insert="fragments/header :: header"></div>

<div class="cover-container p-3 flex-column">
    <div class="row" th:each="element: ${goods}">
        <div class="col s12">
            <span class="relative text-white text-xl font-bold" th:text="${goods.type.getTypeName()}"></span>
            <div class="card bg-black bg-opacity-50 darken-1" style="overflow: hidden; min-height: 1%">
                <div class="card-content white-text" style="height: 90%">
                    <div class="flex flex-row">
                        <div class="card h-48 w-48">
                            <div class="card-image">
                                <a th:href="'/profile/' +${goods.getSeller().getIdUser()}"><img
                                        th:src="${goods.seller.getProfilePhoto()}" style="width: 200px; height: 180px"></a>
                            </div>
                        </div>
                        <div class="p-3 pl-0">
                            <a class="flex-auto rounded-tr-lg text-3xl ml-5 font-bold"
                               th:text="${goods.seller.getLogin()}"
                               th:href="'/profile/' +${goods.getSeller().getIdUser()}"></a>
                        </div>
                    </div>
                    <span class="card-title" th:text="${goods.goodsName}"></span>
                    <p class="font-bold text-2xl">Описание: </p>
                    <span style="white-space: pre-line" th:text="${goods.goodsDesc}"></span>
                </div>
                <div class="card-action" style="height: 10%" th:if="not (${goods.seller.getLogin()} == ${login})" sec:authorize="isAuthenticated()">
                    <span disabled th:text="'Цена: ' + ${goods.goodsCost} + '₽'" class="text-white mr-3 text-xl"></span>
                    <a th:if="(${goods.getGoodsCost()} > ${balance})"
                       class="disabled waves-effect waves-orange btn-large bg-white text-black hover:bg-yellow-400 hover:text-black focus:bg-yellow-400 focus:text-black modal-trigger"
                       href="#no_money"><i class="large material-icons">payments</i></a>
                    <a th:if="(${goods.getGoodsCost()} <= ${balance})"
                       class="waves-effect waves-orange btn-large bg-white text-black hover:bg-yellow-400 hover:text-black focus:bg-yellow-400 focus:text-black modal-trigger"
                       href="#buy"><i class="large material-icons">payments</i></a>
                </div>

                <div id="no_money" class="modal bg-neutral-900">
                    <div class="modal-content">
                        <span class="text-center text-white">У вас нет денег</span>
                    </div>
                    <div class="modal-footer bg-neutral-900">
                        <button class="modal-close btn-flat waves-effect waves-light bg-neutral-900 hover:bg-neutral-700 focus:bg-neutral-900 text-white"
                                type="button">Закрыть
                        </button>
                    </div>
                </div>

                <form th:action="'/buy/' + ${goods.getIdGoods()}" method="post">
                    <div id="buy" class="modal bg-neutral-900">
                        <div class="modal-content">
                            <span class="text-center text-white">Уверены в покупке?</span>
                        </div>
                        <div class="modal-footer bg-neutral-900">
                            <button class="modal-close btn-flat waves-effect waves-light bg-neutral-900 hover:bg-neutral-700 focus:bg-neutral-900 text-white"
                                    type="button">Закрыть
                            </button>
                            <button class="btn-flat waves-effect waves-light bg-neutral-900 hover:bg-neutral-700 focus:bg-neutral-900 text-white"
                                    type="submit">Купить
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div class="row" th:each="element: ${buy}">
        <div class="col s12">
            <span class="relative text-white text-xl font-bold"
                  th:text="${buy.getGoods().getType().getTypeName()}"></span>
            <div class="card bg-black bg-opacity-50 darken-1" style="overflow: hidden; min-height: 1%">
                <div class="card-content white-text" style="height: 90%">
                    <div class="flex flex-row">
                        <div class="card h-48 w-48">
                            <div class="card-image">
                                <a th:href="'/profile/' +${buy.getGoods().getSeller().getIdUser()}"><img
                                        th:src="${buy.getGoods().getSeller().getProfilePhoto()}"
                                        style="width: 200px; height: 180px"></a>
                            </div>
                        </div>
                        <div class="p-3 pl-0">
                            <a class="flex-auto rounded-tr-lg text-3xl ml-5 font-bold"
                               th:text="${buy.getGoods().getSeller().getLogin()}"
                               th:href="'/profile/' +${buy.getGoods().getSeller().getIdUser()}"></a>
                        </div>
                    </div>
                    <span class="card-title" th:text="${buy.getGoods().goodsName}"></span>
                    <p class="font-bold text-2xl">Описание: </p>
                    <span style="white-space: pre-line" th:text="${buy.getGoods().goodsDesc}"></span>
                </div>
                <div class="card-action" style="height: 10%">
                    <span th:text="'Реквизиты товара: ' + ${buy.getGoods().goodsDetails}"
                          class="text-white mr-3 text-xl"></span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>