<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Спасибо за оплату</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/materialize/css/materialize.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body class="bg-neutral-900 h-screen w-screen flex justify-center items-center">

    <div>
        <div class="justify-center items-center text-white font-bold text-3xl h-full" style="display:inline-block; vertical-align: middle">
            <i class="material-icons text-red-600" style="font-size: 112px" th:text="${icon}" th:if="${icon} == 'unpublished'"></i>
            <i class="material-icons text-green-600" style="font-size: 112px" th:text="${icon}" th:if="${icon} == 'published_with_changes'"></i>
            <span th:text="${msg}"></span>
        </div>
        <div class="w-full text-center cursor-pointer">
            <span class="text-sm text-neutral-600" onclick="window.location.href = '/'">Вы будете перенаправлены на главную страницу через 5 секунд</span>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/css/materialize/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            setTimeout(() => {
                    window.location.href = "/";
                }, 5 * 1000
            );
        });
    </script>

</body>
</html>